html, body { 
    margin: 0;
    padding: 0;
}
body *{ box-sizing: border-box;

}
img{ width: 100%;
     

}



.Allpage {

    display:flex;
    flex-direction: column;
    padding-top: 45px;}

.Allpagetwo{ 
    padding-left: 30px;
    padding-right: 30px;;

}

.DivOne {   width:100%;
            
}

.Img {
    
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;

    
}
.header { 
     border: solid black 10px;
    padding: 5px;
    margin-right: 20px;



}


    


.column {
        width:100%;

}

.mg {

    width: 33.3%;
    padding: 10px;
}
@media ( min-width: 550px) { 

    .mg { 
        width: 33.3%;
        
        
    }

} 

@media (min-width: 900px) {

.Allpage{ flex-direction: row;
   

}

.DivOne{

    width: 50%;
    
}
.mg{ 
    width:25%;
}
.header { 
    height: 450px;
}
}